/* Dark mode override */

body {
  background-color: #1e1e1e;
  color: #e6e6e6;
}

a {
  color: #8ab4f8;
}

a:hover {
  color: #a7c7ff;
}

h1, h2, h3, h4, h5, h6 {
  color: #f2f2f2;
}

header, footer {
  border-color: #333;
}

code, pre {
  background-color: #2a2a2a;
  color: #e6e6e6;
}
